body{
    color: #4d4f5c;
}
.tableTitle{
    font-size: 1.15rem;
}
.tab-input{
    max-width: 9rem;
    border-radius: 7px 7px 0 0;
    margin-bottom: 0.4rem;
    border-top: 2px solid #6dbdb4;
    border-left: 2px solid #6dbdb4;
    border-right: 2px solid #6dbdb4;
    border-bottom: 1px solid lightgray;
    font-size: 0.9rem;
}
.tab-input:focus{
    outline: none;
}
.tab-input.active {
    background-color: #6dbdb4;
    color: white;
}
.owerflowXAuto{
    overflow-x:auto;
}
.flex{
    display: flex;
}
.flex-0_5{
    flex: 0.5;
}
.flex-1{
    flex: 1;
}
.flex-1_5{
    flex: 1.5;
}
.flex-2{
    flex: 2;
}

.bidListUl > li {
    list-style-type: none;
}
.bidListUl {
    padding: 0;
}
.extend-btn{
    border: 2px solid #6dbdb4;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    color: #6dbdb4;
    font-size: 0.9rem;
    background-color: white;
    position: relative;
}
.extend-btn > span {
    position:absolute;
    top: 0;
    left: 3.5px
}
.borderTableTitle{
    border: 1px solid #e8e9ec;
}
.primary-border-bottom{
    border-bottom: 1px solid #e8e9ec;
}
.vertical-binder{
    position: absolute;
    height: 40px;
    border-left: 1px solid;
    top: -4px;
}
.horizontal-binder{
    position: absolute;
    width: 10px;
    border-bottom: 1px solid;
    top: 20px;
}
.vertical-binder-last{
    position: absolute;
    height: 20px;
    border-left: 1px solid;
    top: -4px;
}
